bin/
build/
tmp/
zig-cache/
zig-out/
obj_vs/
obj_ninja/
obj_gmake/
node_modules/
*.o
*.obj
*.pdb
*.ilk
*.swp
*.aps
mucchad_res.o
mucchad-square.png
convert_icon.js
make_icon.js
build_mucchad.bat
.gitignore
